ion-toolbar.top-toolbar,
ion-toolbar.search-toolbar {
  --background: var(--ion-color-tertiary-tint)
}

ion-back-button::part(native) {
  border: .15rem solid var(--ion-color-light) ;
  border-radius: 1rem;
}

ion-searchbar {
  --border-radius: 2rem;
}

.active-category {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-dark);
  --border-radius: 1.875rem;
  font-weight: 600;
}

ion-list-header {
  padding: 1.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ion-card.product-card {
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: .5rem 0;

  ion-col.product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ion-col.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img.product-img {
      width: 5rem;
      height: 5rem;
      -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.19));
      filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.19));
    }
  }

  ion-label.top {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  .product-price {
    color: var(--ion-color-primary-contrast);
    font-size: 1rem;
  }

  ion-col.rating-container {
    background: var(--ion-color-tertiary-tint);
    border-radius: 2rem 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-text {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-label {
        font-weight: bold;
        margin-left: 0.5rem;
        color: var(--ion-color-light);
      }
    }
  }
}

ion-card.product-card::part(native) {
  border-radius: 2rem;
}
