<ion-header class="ion-no-border">
  <ion-toolbar class="top-toolbar ion-padding-start">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/home"
        color="light"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="search-toolbar ion-padding" [appScrollVanish]="scrollArea">
    <ion-searchbar
        showCancelButton="focus"
        enterkeyhint="search"
        animated
        placeholder="Quick search..."
        [(ngModel)]="filterTerm"
      ></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar class="categories-toolbar ion-padding-top">
    <ion-slides [options]="opts" *ngIf="categories" >
      <ion-slide *ngFor="let category of categories; let i = index" >
        <ion-button fill="clear" shape="round" [class.active-category]="activeCategory === i" (click)="selectCategory(i)" >
          {{category.name}}
        </ion-button>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" (ionScroll)="onScroll($event)" scrollEvents="true" #scrollArea>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let entry of entries | filter:filterTerm" >
    <ion-list-header [style.background-image]="'linear-gradient(rgb(34 35 41 / 10%), rgb(34 35 41 / 80%)), url(' + entry.headImageUrl +')'">
      <ion-text color="light">
        <h1>{{entry.name}}</h1>
      </ion-text>
    </ion-list-header>

    <ng-container *ngIf="entry.products.length > 0; else elseTemplate">
      <ion-row *ngFor="let prod of entry.products" >
        <ion-col size="12">
          <ion-card class="product-card" routerLink="/detail/{{prod.id}}">
            <ion-row class="ion-padding-vertical">
              <ion-col size="4" class="product-img-container">
                <ion-img class="product-img" [src]="prod.imageUrl"></ion-img>
              </ion-col>
              <ion-col size="6" class="product-details-container ion-no-padding">
                <ion-text>
                  <div *ngIf="prod.weekTop || prod.monthTop">
                    <ion-icon size="medium" color="primary" name="trophy"></ion-icon>
                  <ion-label class="top">
                    top of the
                    <span *ngIf="prod.weekTop">
                      Week
                    </span>
                    <span *ngIf="prod.monthTop">
                      Month
                    </span>
                  </ion-label>
                  </div>
                  <h4>{{prod.name}}</h4>
                  <p class="product-price">${{prod.price}}</p>
                </ion-text>
              </ion-col>
              <ion-col size="2" class="rating-container ion-no-padding">
                <ion-text>
                  <ion-icon color="light" name="star"></ion-icon>
                  <ion-label>{{prod.rating}}</ion-label>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-row>
        <ion-text>
          <h1>Available soon</h1>
        </ion-text>
      </ion-row>
    </ng-template>


  </ion-list>

</ion-content>
